*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.app__header{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 30px;
}
.header-img{
    width: 35px;
    height: 34px;
}

.header-heading{
    font-size: 34px;
    color: 	#080808;
}
.login-form{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 460px;
  height: 460px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 60px 35px;
}

.login-heading{
    font-weight: 700;
    font-size: 32px;
    color: #202020;
    padding-bottom: 20px;
    
}

.login-subheading{
    font-weight: 500;
    color:#505050;
    font-size: 16px;
    padding-bottom: 35px;
}

.group{
    display: flex;
    flex-direction: column;
    width: 100%;
   
}

.input::placeholder{
    font-size: 17px;
    
}
.label{
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0px;
    font-weight: bold;
    color: #505050;
}
.input{
    padding: 16px;
    border-radius: 12px;
    border:2px solid #F4F4F4;
    background-color: 	#F4F4F4;
    color: #505050;
    font-size: 16px;
    width: 100%;
}
.gethelp {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.gethelp img{
    width: 15px;
    height: 15px;
    color: #00D64B;
}
.gethelp h5{
    color: #00D64B;
    font-size: 16px;
    padding-bottom: 20px;
}
.group input:focus{
    outline: none !important;
    border:2px solid #00D64B;
    background-color: white;
}
.app__buttons{
    padding: 40px 0px 20px 0px;
    display: flex;
    width: 100%;
    gap: 15px;

}


.my-buttons {
    height: 45px;
    background-color: #00D64B;
    border: none;
    padding: 5px;
    border-radius: 25px;
    width: 100%;
    color: rgb(236, 236, 236);
    font-size: 15px;
    font-weight: 600;
    
}

.my-buttons:hover{
        background-color: #003300;
}
.underline{
    text-decoration: underline;
}
.login-policy{
    padding: 20px 0px;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 1.2;
    color: #696969;
}


.iti__arrow{
    color: #00D64B !important;
}

@media only screen and (max-width: 450px) {
    
.app__header{

    gap: 15px;
    padding: 15px 25px;
}
.header-img{
    width: 25px;
    height: 25px;
}

.header-heading{
    font-size: 28px;
}
.login-form{
  width: 90%;
  height: 390px;
}

.login{
    padding: 40px 25px;
}

.login-heading{
    font-size: 26px;
    padding-bottom: 15px;  
}

.login-subheading{
    font-size: 15px;
    padding-bottom: 25px;
}

.input::placeholder{
    font-size: 15px;  
}
.label{
    font-size: 14px;
}


.app__buttons{
    padding: 20px 0px 10px 0px;
}


.my-buttons {
    height: 40px;    
}


.login-policy{
    padding: 15px 0px;

}
}